<nav>
	<a href="http://www.thomascullendesign.com">Home</a>
	<a href="http://www.thomascullendesign.com">My Work</a>
	<a href="http://www.thomascullendesign.com">About Me</a>
	<a href="{{@blog.url}}">My Thoughts</a>
</nav>
