/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,html {
	width:100%;
	height:100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{font-family: 'Merriweather', serif !important;}

a{color:#00D9D9;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Header*/
header{
	width:100%;
	height:65%;
	background:url('../assets/main.jpg') no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	padding-top:30px;
	box-shadow: inset 0 -5px 10px rgba(0,0,0,.2);
	margin-bottom:15px;
}

#blog-title{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:32px;
	font-weight:700;
	margin-left:30px;
	float:left;
	text-shadow:0 1px 5px rgba(0,0,0,.2);
	font-family: 'Lato', sans-serif !important;
}

nav{
	float:right;
	margin-right:30px;
	margin-top:15px;
}

nav a{
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	padding:8px 12px;
	padding-bottom:7px;
	letter-spacing:2px;
	font-weight:400;
	text-decoration:none;
	margin-left:15px;
	border:2px solid transparent;
	text-shadow:0 1px 5px rgba(0,0,0,.2);
	font-family: 'Lato', sans-serif !important;
}

nav a:hover{
	border-color:#fff;
}

#title{
	position:absolute;
	display:block;
	z-index:9;
	width:600px;
	left:50%;
	margin-left:-300px;
	top:22%;
	text-align: center;
	text-shadow:0 1px 5px rgba(0,0,0,.2);
}

header h1{
	font-size:43px;
	color:#fff;
	font-weight:100;
	text-transform:uppercase;
	line-height:1.3;
	letter-spacing:2px;
	margin-bottom:10px;
	font-family: 'Lato', sans-serif !important;
}

header h2{
	font-size:20px;
	letter-spacing:2px;
	color:rgba(255,255,255,0.9);
	font-style: italic;
	line-height:1.6;
	font-weight:100;
	font-family: 'Merriweather', serif !important;
}

#post-header #title{
	top:25%;
	width:800px;
	margin-left:-400px;
}

/*Content*/
.container{
	width:800px;
	margin:0 auto;
}

#content{
	padding:50px 0;
}

article{
	font-size:18px;
	color:#555;
	line-height:1.8;
	margin-bottom:80px;
}

article h1{
	display:block;
	padding-bottom:30px;
	color:#333;
	font-size:36px;
	font-weight:400;
	text-decoration:none;
	text-transform:uppercase;
	line-height:48px;
	font-family: 'Lato', sans-serif !important;
}

article h1 a{
	color:#333;
	font-size:36px;
	font-weight:400;
	text-decoration:none;
	text-transform:uppercase;
	line-height:48px;
	font-family: 'Lato', sans-serif !important;
}

article h1 a:hover{color:#00D9D9;}

.meta{
	text-transform:uppercase;
	line-height:1.1;
	letter-spacing:2px;
	font-size:15px;
	display:block;
	padding-bottom:15px;
	font-weight:300;
	color:#999;
	font-style: italic;
	margin-top:-15px;
	font-family: 'Lato', sans-serif !important;
}

article h2{
	font-weight:100;
	line-height:1.4;
	font-size:27px;
	color:#777;
	font-style: italic;
	padding-bottom:40px;
	font-family: 'Lato', sans-serif !important;
}

article h3{
	font-weight:600;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:24px;
	margin-bottom:30px;
	color:#333;
	font-family: 'Lato', sans-serif !important;
}

article h4{
	font-weight:400;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:19px;
	margin-bottom:30px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

article h5{
	font-weight:600;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:15px;
	color:#333;
	font-family: 'Lato', sans-serif !important;
}

article h6{
	font-weight:400;
	text-transform:uppercase;
	line-height:1.5;
	letter-spacing:1px;
	font-size:16px;
	margin-bottom:30px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

article p{
	color:#555;
	margin-bottom:30px;
}

.summary{
	color:#777;
	font-weight:100;
	font-style: italic !important;
}

article img{
	max-width:100%;
	margin-top:30px;
	border-radius:5px;
	box-shadow: 0 1px 10px rgba(0,0,0,.25)
}

article p strong{
	color:#333;
	font-weight:600;
}

article p em{
	font-style: italic;
}

article ul{
	list-style:disc;
	margin-left:20px;
	margin-bottom:30px;
}

article ul ul{list-style:circle;margin-bottom:0;}

article ol{
	list-style:decimal-leading-zero;
	margin-left:30px;
	margin-bottom:30px;
}

article blockquote{
	line-height:1.6;
	letter-spacing:1px;
	font-size:28px !important;
	padding:30px 0 40px 0;
	color:#555;
	font-weight:100;
	font-style:italic;
	width:900px;
	margin-left:-50px;
	text-align: center;
}

article pre, article code{
	margin-bottom:30px;
	font-size:16px;
}

article pre{
	border-radius:5px;
	box-shadow:0 1px 5px #eee;
	padding:15px !important;
}

article pre *{
	font-family: 'Lato', sans-serif !important;
}

article hr{
	margin-bottom:30px;
}

.pagination{
	text-align:center;
	width:100%;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:400;
	text-decoration:none;
	border:1px solid transparent;
	color:#888;
}

.pagination span{
	font-family: 'Lato', sans-serif !important;
}

.pagination a{
	color:#888;
	margin:0;
	font-size:12px;
	font-family: 'Lato', sans-serif !important;
}

.pagination a.older-posts{
	margin-left:15px;
	margin-right:-15px;
}

.pagination a.newer-posts{
	margin-right:15px;
	margin-left:-15px;
}

.pagination a:hover{
	color:#00D9D9;
	border-color:#00D9D9;
}

img[alt="main-image"]{display:none;}

/*Footer*/

footer{
	clear:both;
	width:100%;
	padding:25px 0;
	float:left;
}

#social-links{
	float:left;
	margin-left:30px;
}

#social-links a{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}

#social-links a:hover{
	text-decoration:underline;
	color:##28c0b7;
}

#rights{
	float:right;
	margin-right:30px;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	color:#999;
	font-family: 'Lato', sans-serif !important;
}
